@{
    ViewData["Title"] = "Home Page";
}

<environment names="Development">
    <h3 class="display-4">We Still Working In The Site</h3>
</environment>
<environment names="Production">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
    </div>
</environment>

